body{
    background-color:white;
}
.wrapper{
    display:grid;
    grid-template:
    'header header'
    'nav nav '
    'gallery1  gallery2'
    'text  text '
    'main2  main1 '
    
    'footer footer'
}

header{
    
    grid-area: header;
}
.mySlide1{
    
    grid-area: gallery1;

}

.mySlide2{
   
    grid-area: gallery2;
}
header.img{
  
    float: left;
    

}



.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    grid-area: nav;
  }
  footer {
    color:white;
    background-color: #333;
    font-size: 17px;
    text-align: center;
    grid-area: footer;
  }
  .main2{
    text-align: center;
    
    background-image: linear-gradient(to left,skyblue,white);
    grid-area: main1;

  }
  .main1{
    text-align: center;
    width:100%;
    background-image: linear-gradient(to left,skyblue,white);
    grid-area: main2;

  }
  .currentActivityText{
    text-align: center;
    

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  } 
  
  li a {
    display: block;
    background-color: #dddddd;
  }
 

 

  h2{
    border-bottom: 5px solid black;
  }
  
  .topnav a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #111;
  }

  .topnav .search-container {
    float: right;
  }
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color:white;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  .display-images{
      float:left;

  }
 
  
  .active {
    background-color: #717171;
  }
  div.text{
    
    border: 25px  solid #333;
   
   
    width: 91.5%;
    padding: 30px;
    grid-area: text;
  }
  
  table{
    border: 3px solid black;
    border-collapse: collapse;
    height: 50px;
}
 th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 50px;
  padding: 5px;
}


th{
    background-color:Lavender ;
    padding: 5px;
}
table {
  width: 100%;
}
form {
   align-content: center;
   
  }
  @media only screen and (max-width: 600px) {
    .wrapper{
      display:grid;
      grid-template:
      'header header'
      'nav nav '
      'gallery1  gallery2'
      'text  text '
      'main2  main2 '
      'main1  main1 '
      
      'footer footer'
  }
    div.text{
    
      border: 5px  solid #333;
     
     
      width: 95.5%;
      padding: 5px;
      grid-area: text;
    }
    table{
      border: 3px solid black;
      border-collapse: collapse;
      height: 50px;
  }
   th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
    padding: 5px;
  }
  
  
  th{
      background-color:Lavender ;
      padding: 5px;
  }
  table {
    width: 100%;
  }
  .mySlide1 img{
    height:200px;
  }
  .mySlide2 img{
    height:200px;
  }
  }